.firstText {
    margin-top: 1rem;
    font-weight: bold;
    color: var(--gray-300);
}

.secondText {
    color: var(--gray-300);
    font-weight: mixed;
}

.content {
    text-align: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
