.wrapper {
    max-width: 46rem;
    height: 18rem;
    display: grid;
    grid-template-rows: 1rem 80%;
    margin: 2rem auto;
    gap: 2rem;
}

.content {
    text-align: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 5px;
    gap:0.75rem;
    display: grid;
    justify-content: center;
}
